<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- API -->
		<!-- 1 - ИПР -->
		<!-- 2 - ФИЗВОСП -->
		<add key="api" value="http://jmu.api.lgpu.org/lgpu-bot"/>
		<add key="pathPDF" value="C:\Program Files\Adobe\Acrobat DC\Acrobat\Acrobat.exe"/>
		<add key="numberFaculty" value="2" />
	</appSettings>
</configuration>